@font-face {
    font-family: 'Inter';
    src: url(../../../vendor/fonts/Inter-Bold.woff) format('woff'), url(../../../vendor/fonts/Inter-Bold.woff2) format('woff2');
    font-weight: normal;
}

.lead__title {
    font-family: 'Inter', serif;
    margin: 0 auto 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 0 16px;
        font-size: 40px;
        line-height: 44px;


    }
}