.lead__title {
    font-family: 'Inter', serif;
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .lead__title {

        margin: 0 auto 32px;
        font-size: 96px;
        line-height: 100px;

    }
}

