.cover__background {
    max-width: 320px;
    min-height: 200px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__background::before {
    background-color: #2a2c2f;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.cover__background:hover::before {
    opacity: 0.8;

}

@media screen and (min-width: 768px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__background {
        max-width: 1184px;
        min-height: 740px;
    }
}
